body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}

.container {
    padding: 16px;
    background-color: white;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}