* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin: auto;
    color: #175581;
}

h1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #175581;
}

h2{
    text-align: center;
    color: #175581;
}

p{
    text-align: center;
    color: #175581;
    font-weight: 700;
    padding-top: 30px;
}

.column img{
    width: 200px;
    padding-top: 60px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
}

.column {
    float: left;
    width: 33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    background-color: #175581;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

input[type=text], input[type=password], input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

a {
    color: dodgerblue;
}